body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  padding-bottom: 20px;
}

.center {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  }

.container {
  text-align: center;
}

.jumbotron {
  margin-bottom: 0;
}

#header {
  background-color: #0093E9;     
  background-image: linear-gradient(160deg, #0093E9 0%, #a3fff4 100%)
}

#about {
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);  
}

#education {
  background-image: url('../images/education.jpg');
  background-position: top right;
  color: white;
}

#organization {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);  
}

#skills {
  background-image: url('../images/skills.jpg');
  background-size: cover;
  color: white; 
}

#project {
  background-color: #000000;
  background-image: linear-gradient(43deg, #000000 0%, #3f3f3f 46%, #7d7d7d 100%);
   
  color: white
}

#hobby {
  background-image: url('../images/hobby.jpg');
  background-size: cover;
  background-position: center;
  color: white; 
}

#footer {
  background-color: rgb(49, 49, 49);
  color: rgb(204, 204, 204);
}

#footer a{
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  text-align: center;
  margin: 5px 10px;
  color: grey;
}

#footer a:hover{
  color: white;
}

#grid section{
  margin-bottom: 30px;
}

@media (min-width: 780px) {
  #grid { display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px; }
}